/**
acid green b8b42d
avocado 697a21
cosmic latte fffce8
black coffee 3e363f
cg red dd403a

teal 437C90
*/

body {
  background: #3e363f;
  color: #fffce8;
  font-family: 'helvetica neue';
}

.btn {
  background: #b8b42d;
  border-radius: 5px;
  color: #fffce8;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
}

#state-switcher {
  background: #3e363f;
  color: #fffce8;
  height: 100%;
  left: 0;
  padding: 10%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80%;
}

  #state-switcher p {
    font-weight: bold;
  }

  @media only screen and (max-device-width: 768px) {
    #state-switcher {
      font-size: 36px;
    }
  }

  #state-continue,
  #state-reset {
    border: 0;
    border-radius: 5px;
    color: #fffce8;
    cursor: pointer;
    margin-right: 10px;
    padding: 15px 40px;
  }

  @media only screen and (max-device-width: 768px) {
    #state-continue,
    #state-reset {
      font-size: 36px;
    }
  }

    #state-continue {
      background-color: #b8b42d;
    }

    #state-continue:hover {
      background-color: #474;
    }

    #state-reset {
      background-color: #dd403a;
    }

    #state-reset:hover {
      background-color: #b44;
    }

.flashcard-activated .level-selector {
  display: none;
}

.selection-level-container {
  background: #fffce8;
  border: 1px solid #3e363f;
  color: #3e363f;
  display: inline-block;
  padding: 5px 20px 20px 20px;
  width: 100px;
}

  .selection-level-container label {
    position: absolute;
    left: -9999px;
  }

  .selection-level-container:hover {
    background: #b8b42d;
    color: #fffce8;
    cursor: pointer;
  }

  .selection-level-container.selected {
    background: #b8b42d;
  }

@media only screen and (max-device-width: 768px) {
  .selection-level-container {
    border: 2px 0 0 0;
    display: block;
    padding: 10px 5%;
    width: 90%;
  }
}

  .selection-level-container h2 {
    font-size: 14px;
  }

  #flashcard-level-all {
    background: #437C90;
    color: #fffce8;
    margin: 20px 0;
    text-align: center;
  }

  .flashcard-show-readings { /* rename, this is for the selector but implies it's the flashcard */
    margin: 20px 0;
  }

.overlay {
  background: #3e363f;
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.level-selector input {
  display: inline;
  border: 1px solid #444;
}

@media only screen and (max-device-width: 768px) {
  .level-selector input {
    width: 100%;
    border: 1px 0 0 0;
  }
}

.flashcard-content {
  display: none;
  height: 350px;
  left: 50%;
  margin-left: -175px;
  position: absolute;
  top: 50px;
  width: 350px;
  z-index: 10;
}

@media only screen and (max-device-width: 768px) {
  .flashcard-content {
    height: 100%;
    left: 0;
    margin-left: 0;
    top: 0;
    width: 100%;
  }
}

.flashcard {
  background: #697a21;
  border: 1px solid #fffce8;
  border-radius: 10px;
  color: #fffce8;
  height: 348px;
  margin: 1px;
  width: 348px;
}

@media only screen and (max-device-width: 768px) {
  .flashcard {
    border-width: 0;
    border-radius: 0;
  }
}

@media only screen and (max-device-width: 768px) {
  .flashcard {
    height: 100%;
    margin: 0;
    width: 100%;
  }
}

.flagged {
  background: #dd403a;
}

.number {
  font-size: 24px;
  font-weight: normal;
  left: 28px;
  opacity: 0.4;
  position: absolute;
  top: 3px;
}

@media only screen and (max-device-width: 768px) {
  .number {
    font-size: 40px;
  }
}

.flashcard dl {
  font-size: 24px;
  margin-top: 1px;
  text-align: center;
}

  #duo-vocabulary-card-container .flashcard dl,
  #vocabulary-card-container .flashcard dl {
    padding-top: 50px;
  }

  @media only screen and (max-device-width: 768px) {
    .flashcard dl {
      margin-top: 0;
    }
  }

.flashcard dt {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 28px;
  right: 28px;
  visibility: hidden;
}

  #duo-vocabulary-card-container dt {
    font-size: 16px;
    font-weight: bold;
  }

  @media only screen and (max-device-width: 768px) {
    #duo-vocabulary-card-container dt, /* override clean up later */
    .flashcard dt {
      font-weight: bold;
      font-size: 40px;
    }
  }

.flashcard dt.temp-show {
  visibility: visible;
}

.flashcard dd {
  font-size: 200px;
  margin: 20px 0 0 0;
  padding: 0;
}

  #vocabulary-card-container .flashcard dd {
    font-size: 65px;
  }

  #duo-vocabulary-card-container .flashcard dd {
    font-size: 65px;
  }

  /* TODO this is messy */
  @media only screen and (max-device-width: 768px) {
    #duo-vocabulary-card-container .flashcard dd,
    #vocabulary-card-container .flashcard dd {
      font-size: 200px;
      margin-top: 25%;
    }
    #kanji-card-container .flashcard dd,
    #radical-card-container .flashcard dd {
      padding-top: 25%
    }
  }

.flashcard dd img {
  margin-top: 50px;
}

.flashcard .reading {
  bottom: 28px;
  font-size: 24px;
  left: 28px;
  position: absolute;
  visibility: hidden;
}

.flashcard .composing-radicals {
  bottom: 0;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: -32px;
  position: absolute;
  right: 0;
  visibility: hidden;
}

@media only screen and (max-device-width: 768px) {
  .flashcard .composing-radicals {
    bottom: 28px;
    font-size: 36px;
    margin-bottom: 0;
    right: 28px;
    text-align: right;
  }
}

.show-tip .reading,
.always-show-readings .flashcard .reading,
.show-tip .composing-radicals,
.always-show-readings .flashcard .composing-radicals {
  visibility: visible;
}

  #vocabulary-card-container .flashcard .reading,
  #duo-vocabulary-card-container .flashcard .reading {
    font-size: 24px; /* override the symbol style since it's stronger */
  }

  #vocabulary-card-container .flashcard .composing-radicals,
  #duo-vocabulary-card-container .flashcard .composing-radicals {
    font-size: 12px; /* override the symbol style since it's stronger */
  }

  @media only screen and (max-device-width: 768px) {
    #duo-vocabulary-card-container .flashcard .reading,
    #vocabulary-card-container .flashcard .reading {
      font-size: 60px;
    }

    .flashcard .reading {
      font-size: 60px;
    }

    #duo-vocabulary-card-container .flashcard .composing-radicals {
      font-size: 36px;
    }
  }
